@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.faq-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.faq-container {
    padding: 25px 2.5%;
    width: 75%;
    background-color: #1b1b1b;
    border-radius: 15px;
}

.title-div {
    display: flex;
    justify-content: center;
}

.title-div h1 {
    color: #e6e6e6;
    font-size: 2.25rem;
}