.contact-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-container {
    padding: 25px 2.5%;
    width: 75%;
    background-color: #1b1b1b;
    border-radius: 15px;
}

.title-div {
    display: flex;
    justify-content: center;
}

.title-div h1 {
    color: #e6e6e6;
    font-size: 2.25rem;
}

.contact-container h2 {
    color: #e6e6e6;
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.contact-container h2:not(:first-child) {
    margin-top: 20px;
}

.contact-container p {
    color: #cecece;
    font-size: 1rem;
}

.contact-container .input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
}

.contact-container .input-box input, .contact-container .input-box textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
    box-sizing: border-box;
}

.contact-container .input-box input::placeholder,
.contact-container .input-box textarea::placeholder {
    color: #aaa; 
}

.contact-container .input-box .icon {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 18px;
    color: #fff;
}

.contact-container .input-box input {
    height: 50px;
    padding-right: 60px;
}

.contact-container .input-box textarea {
    height: 150px;  
    padding-right: 45px;
    resize: none;
    overflow-y: auto;
}

.contact-container .input-box textarea::-webkit-scrollbar {
    width: 8px;
}

.contact-container .input-box textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#errMsg {
    background-color: lightpink;
    text-align: center;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.contact-container button {
    width: 100%;
    height: 45px;
    background: #333; 
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.contact-container button:hover {
    background: #444; 
}

.contact-container button:active {
    background: #555;
}

.btn-primary {
    color: #fff;
    background-color: #6b6f72;
    border-color: #888a8b;
}

.btn-primary:hover {
    background-color: #5c5f5f;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}